.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
.list li {
  width: 200px;
  list-style: none;
  text-align: center;
}
.img {
  border-radius: 100px;
  width: 200px;
  height: 300px;
}
