.back {
    padding: 20px;
    font-size: 20px;
}
.wraper {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;

}
.list {
    display: flex;
    gap: 20px;
    align-items: center;

}
.item {
    list-style: none;

}

.link  {
    padding: 10px;
    border: 2px solid rgb(70, 16, 70);
    text-decoration: none;
    font-weight: 700;
    color:rgb(70, 16, 70);
    border-radius: 10px;
}

.link:hover {
    background-color: rgb(157, 211, 218);
}